{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1003579?api_key=<MOVIE_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "befdb093a375fc558ec41211328ab887"
          ],
          "X-Memc-Age": [
            "7928"
          ],
          "X-Memc-Expires": [
            "8220"
          ],
          "Etag": [
            "W/\"5e1feaed09b8a06b32351b5e5ce2e2cf\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/7eccX0xay9pDj6ZQvU4cu3whw18.jpg\",\"belongs_to_collection\":null,\"budget\":0,\"genres\":[{\"id\":16,\"name\":\"Animation\"},{\"id\":9648,\"name\":\"Mystery\"},{\"id\":14,\"name\":\"Fantasy\"},{\"id\":28,\"name\":\"Action\"},{\"id\":27,\"name\":\"Horror\"}],\"homepage\":\"\",\"id\":1003579,\"imdb_id\":\"tt24223450\",\"original_language\":\"en\",\"original_title\":\"Batman: The Doom That Came to Gotham\",\"overview\":\"Explorer Bruce Wayne accidentally unleashes an ancient evil, and returns to Gotham after being away for two decades. There, Batman battles Lovecraftian supernatural forces and encounters allies and enemies such as Green Arrow, Ra's al Ghul, Mr. Freeze, Killer Croc, Two-Face and James Gordon.\",\"popularity\":1095.846,\"poster_path\":\"/hrATQE8ScQceohwInaMluluNEaf.jpg\",\"production_companies\":[{\"id\":9993,\"logo_path\":\"/2Tc1P3Ac8M479naPp1kYT3izLS5.png\",\"name\":\"DC Entertainment\",\"origin_country\":\"US\"},{\"id\":2785,\"logo_path\":\"/l5zW8jjmQOCx2dFmvnmbYmqoBmL.png\",\"name\":\"Warner Bros. Animation\",\"origin_country\":\"US\"},{\"id\":14772,\"logo_path\":\"/1XTIrcpK2JgnKn1RYgsPEJiUO0k.png\",\"name\":\"Warner Bros. Home Entertainment Group\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"2023-03-10\",\"revenue\":0,\"runtime\":86,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"\",\"title\":\"Batman: The Doom That Came to Gotham\",\"video\":false,\"vote_average\":6.839,\"vote_count\":28}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 18:25:20 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1003579/credits?api_key=<MOVIE_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "e8763d2516cec1d1075df91394c3ede3"
          ],
          "X-Memc-Age": [
            "1500"
          ],
          "X-Memc-Expires": [
            "20671"
          ],
          "Etag": [
            "W/\"b6973f14df158677ec761606e8e15339\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":1003579,\"cast\":[{\"adult\":false,\"gender\":2,\"id\":206757,\"known_for_department\":\"Acting\",\"name\":\"David Giuntoli\",\"original_name\":\"David Giuntoli\",\"popularity\":10.794,\"profile_path\":\"/xxtB8TfKLMw9Utx5v2b3Z0nu5VL.jpg\",\"cast_id\":13,\"character\":\"Batman / Bruce Wayne (voice)\",\"credit_id\":\"639152c0b9a0bd008451c286\",\"order\":0},{\"adult\":false,\"gender\":2,\"id\":58791,\"known_for_department\":\"Acting\",\"name\":\"Patrick Fabian\",\"original_name\":\"Patrick Fabian\",\"popularity\":15.654,\"profile_path\":\"/ziTKeEraEksMQBg02adD22JJXb0.jpg\",\"cast_id\":2,\"character\":\"Harvey Dent / Two-Face (voice)\",\"credit_id\":\"639150adb9a0bd008451c148\",\"order\":1},{\"adult\":false,\"gender\":2,\"id\":31531,\"known_for_department\":\"Acting\",\"name\":\"John DiMaggio\",\"original_name\":\"John DiMaggio\",\"popularity\":9[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1003579/reviews?api_key=<MOVIE_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "98218df94e8716ee80bf7fbda0426136"
          ],
          "X-Memc-Age": [
            "5896"
          ],
          "X-Memc-Expires": [
            "17187"
          ],
          "Etag": [
            "W/\"43b333f0434bd827146cab13a811ebec\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":1003579,\"page\":1,\"results\":[],\"total_pages\":0,\"total_results\":0}"
        }
      },
      "recorded_at": "Tue, 04 Apr 2023 22:38:32 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1003579/reviews?api_key=<MOVIE_API_KEY>",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "98218df94e8716ee80bf7fbda0426136"
          ],
          "X-Memc-Age": [
            "5896"
          ],
          "X-Memc-Expires": [
            "17187"
          ],
          "Etag": [
            "W/\"43b333f0434bd827146cab13a811ebec\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":1003579,\"page\":1,\"results\":[],\"total_pages\":0,\"total_results\":0}"
        }
      },
      "recorded_at": "Tue, 04 Apr 2023 22:38:33 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}