<% if current_user %>
  <%= link_to "Log Out", session_path(current_user.id), data: { turbo_method: :delete } %>

  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <%= "#{user.name} - #{user.email}" %>
  <% end %>
  
<% else %>
  <%= link_to "Log In", new_session_path %>
  <%= button_to "Create New User", register_path, method: :get %>
<% end %>