---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1003579?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - befdb093a375fc558ec41211328ab887
      X-Memc-Age:
      - '22295'
      X-Memc-Expires:
      - '878'
      Etag:
      - W/"2b160918d9080b4ccbd6ef53aed81617"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/7eccX0xay9pDj6ZQvU4cu3whw18.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":16,"name":"Animation"},{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"},{"id":28,"name":"Action"},{"id":9648,"name":"Mystery"}],"homepage":"","id":1003579,"imdb_id":"tt24223450","original_language":"en","original_title":"Batman:
        The Doom That Came to Gotham","overview":"Explorer Bruce Wayne accidentally
        unleashes an ancient evil, and returns to Gotham after being away for two
        decades. There, Batman battles Lovecraftian supernatural forces and encounters
        allies and enemies such as Green Arrow, Ra''s al Ghul, Mr. Freeze, Killer
        Croc, Two-Face and James Gordon.","popularity":79.862,"poster_path":"/hrATQE8ScQceohwInaMluluNEaf.jpg","production_companies":[{"id":9993,"logo_path":"/2Tc1P3Ac8M479naPp1kYT3izLS5.png","name":"DC
        Entertainment","origin_country":"US"},{"id":2785,"logo_path":"/l5zW8jjmQOCx2dFmvnmbYmqoBmL.png","name":"Warner
        Bros. Animation","origin_country":"US"},{"id":14772,"logo_path":"/1XTIrcpK2JgnKn1RYgsPEJiUO0k.png","name":"Warner
        Bros. Home Entertainment Group","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2023-03-10","revenue":0,"runtime":86,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Batman:
        The Doom That Came to Gotham","video":false,"vote_average":6.722,"vote_count":108}'
  recorded_at: Wed, 28 Jun 2023 22:05:47 GMT
[...]
